#site {
  width: 800px;
  margin: 0px auto;

  background-color: FloralWhite;

  color: red;

  font: Arial;
}

img {
  text-align: center;
}

h1 {
  color: DarkSlateGrey;

  text-align: center;
}

h2 {
  color: DarkSlateGrey;

  text-align: center;
}

p {
  text-align: center;

  font-size: 30px;
}
