@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

body {
  background: rgba(206, 169, 240, 0.1) url(./images/bolso.jpg) no-repeat center
    center fixed;
  font: normal 15pt Arial;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background: rgba(255, 186, 158, 0.774);
  box-shadow: 5px 5px 10px rgba(43, 2, 2, 0.918); /*sombra na caixa*/
  border: coral;
  border-radius: 20px;
  position: relative;
  top: 10px;
}

section {
  background: rgba(231, 150, 118, 0.884);
  position: relative;
  top: 30px;
  left: -30rem;
  border-radius: 20px; /*borda arredondada*/
  padding: 40px; /*distancia bordas*/
  width: 800px; /*largura fixa*/
  height: 400px;
  margin: auto; /*centralizar meio da tela*/
  box-shadow: 5px 5px 10px rgba(43, 2, 2, 0.918); /*sombra na caixa*/
}
img {
  max-width: 100%;
  height: auto;
  position: relative;
  right: -60rem;
  bottom: 25rem;
}

#res {
  font-weight: bolder;
  font-size: large;
  color: blueviolet;
}

footer {
  color: aliceblue;
  text-align: center;
  font-style: italic;
}
