@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

body {
  background: url(./images/cover.jpg) no-repeat center center fixed;
  font: normal 15pt Arial;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  background: rgba(148, 76, 214, 0.3);
  border-radius: 30px;
  position: relative;
  top: 50px;
}
header {
  padding: 15px;
  margin-bottom: 15px;
  position: relative;
  top: 20px;
}

section {
  position: relative;
  top: 20px;
  padding-bottom: 50px;
}

h2,
label {
  color: white;
}

#bloca {
  background: rgba(193, 86, 243, 0.8);
  border-radius: 20px;
  position: relative;
  top: 70px;
}

footer {
  background: rgba(193, 86, 243, 0.8);
  border-radius: 20px;
  width: 80px;
  position: relative;
  right: -55rem;
}
